.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background-color: #000122;
  color: white;
}
.nav-link {
  width: 60%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}
li:active {
  color: white;
}
.nav-link-item {
  text-decoration: none;
}
